spring.application.name: config-server

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/saitejajambarapu/Config-Server
          username: saitejajambarapu
          password: XXXXXXX
          default-label: main

server:
  port: 8888

eureka:
  client:
    service-uri:
      defaultZone: http://localhost:8761/eureka